body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0;
    background-color: black;
}

footer{
    color: white;
}

header{
    /* background-color: #1E90FF; */
    color: white;
    padding: 0px;
    padding-bottom: 500px;
    margin: 0px;
    text-align: center;
    font-size: 60px;
}

#nav-header{
    background-image: url(images/background-img.avif);
    background-size: cover;
    padding: 1px;
}



#Sections{
    margin-left: 20px;
    background-color: black;
    margin: 0px;
    padding: 5px;
    color: white
    
}

nav{
    margin: 0;
    padding: 0;
    
}

.primary{
    display: flex;
    list-style-type: none;
}

li{
    margin: 20px;
}

a{
    text-decoration: none;
    color: white;
}


#about{
    margin-bottom: 350px;
}

section{
    width: 100%;
    height: 1000px;
    text-align: center;
}

h2{
    font-size: 70px;
}


.edu-skill{
    width: 100%;
    height: 100%;
    /* display: flex; */
    position: absolute;
    justify-content: center;
}

#edu{
    margin-bottom: 100px;
}


/* img{
    width: 300px;
    height: 300px;
    background-image: url(https://cache.careers360.mobi/media/colleges/reviews/2020/7/15/133406/Screenshot_20200715-114406_Photos.jpg);
    background-size: cover;
    border-radius: 10px;
} */

h3{
    font-size: 40px;
    padding-top: 20px;
    margin-bottom: 40px;
}

h5{
    font-style: oblique;
}

#Circles{
    display: flex;
    justify-content: space-evenly;
}

#circle1{
    width: 150px;
    height: 150px;
    background-image: url(images/cpp-logo.png);
    background-size: cover;
    background-position: center;
}

#circle2{
    width: 150px;
    height: 150px;
    position: relative;
    background-image: url(images/ml-logo.png);
    background-size: cover;
    background-position: center;
}

#circle3{
    width: 150px;
    height: 150px;
    background-image: url(images/python-logo.png);
    background-size: cover;
    background-position: center;
}

h6{
    /* position: absolute; */
    text-align: center;
    font-size: 20px;
    margin-top: 115%;
    
}


.pro-back{
    display: flex;
    width: 100%;
    height: 400px;
    /* justify-content: space-evenly; */
    /* align-items: ; */
    background-color: aliceblue;
}

#pro1{
    display: flex;
    width: 100%;
    height: 350px;
}

#whatsapp{
    width: 375px;
    height: 250px;
    margin: 60px 5px 50px 50px;
    background-image: url(images/whatsapp.png);
    background-size: cover;
    border-radius: 12px;
}

#stock{
    width: 375px;
    height: 250px;
    margin: 0px 5px 100px 50px;
    padding-bottom: 15px;
    background-image: url(images/Stock-trend.png);
    background-size: cover;
    border-radius: 12px;
}

#back1{
    width: 1000px;
    height: 250px;
    margin: 60px 30px 50px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    text-align: justify;
}

#back2{
    width: 1000px;
    height: 250px;
    margin: 0px 30px 100px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding-bottom: 15px;
    border-radius: 12px;
    text-align: justify;
}

h4{
    margin-left: 15px;
    font-size: larger;
}

.secondary{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.cbox{
    /* display: flex; */
    justify-content: center;
}

#name{
    /* position: relative; */
    width: 450px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    border-style: double;
    font-size: larger;
    color: rgba(255,255,255, 0.65);
    padding: 0px 15px 0px 15px;
    margin-bottom: 15px;
    /* border-style: none; */
}

#email{
    /* position: relative; */
    width: 450px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    font-size: larger;
    color: rgba(255,255,255, 0.65);
    padding: 0px 15px 0px 15px;
    margin-bottom: 15px;
    border-style: double;
}

#message{
    /* position: relative; */
    width: 450px;
    height:200px;
    resize: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    border-style: double;
    font-size: larger;
    color: rgba(255,255,255, 0.65);
    padding: 0px 15px 0px 15px;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#submit{
    /* position: relative; */
    width: 475px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border-style: double;
    border-radius: 20px;
    font-size: larger;
    color: rgba(255,255,255, 0.65);
    padding: 0px 15px 0px 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}



#links{
    position: relative;
    width: 475px;
    height: 50px;
    padding-left: 520px;
    display: flex;
    justify-content: space-evenly;
}

.github{
    width: 64px;
    height: 64px;
    background-image: url(images/github.png);
    background-size: cover;
}

.linkedin{
    width: 64px;
    height: 64px;
    background-image: url(images/linkedin.png);
    background-size: cover;
}


#edu-box{
    display: flex;
    width: 100%;
    height: 350px;
}

#clg-img{
    width: 250px;
    height: 200px;
    margin: 60px 5px 50px 50px;
    background-image: url(images/college\ image.jpg);
    background-size: cover;
    border-radius: 12px;
}

#clg-info{
    width: 1000px;
    height: 152px;
    margin: 60px 30px 50px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    text-align: center;
    padding-top: 45px;
}

